<h1>NEW BAND REGISTRATION</h1>


<%= simple_form_for @band do |f| %>
  <%= f.input :name %>
  <%= f.input :email %>
  <%= f.input :local %>
  <%= f.input :release %>
  <%= f.input :team %>
  <%= f.input :website %>
  <%= f.input :facebook %>
  <%= f.input :instagram %>
  <%= f.input :soundcloud %>
  <%= f.input :spotify %>
  <%= f.input :youtube %>
  <%= f.input :yt_video_destak %>
  <%= f.input :destak_discr %>
  <%= f.input :yt_video_one %>
  <%= f.input :yt_video_two %>
  <%= f.input :yt_video_three %>
  <%= f.input :photo, as: :file %>


  <p><%= f.submit "Create My Band Profile", class: "btn btn-primary" %></p>
<% end %>
