
<div class="container">
  <h1>NEW BAND REGISTRATION</h1>

  <%= simple_form_for @band do |f| %>
   <%= f.input :name, label: 'Your username please', placeholder: 'username' %>
    <%= f.input :email, placeholder: 'user@domain.com' %>
    <%= f.input :local, placeholder: 'RJ / SP / FRANCE' %>
    <%= f.input :headline, placeholder: 'Describe the best in on line' %>
    <%= f.input :release, placeholder: 'Use Markdown to style your release text' %>
    <%= f.input :team, placeholder: 'Quantos pessoas tem na sua equipe (tecnicos incluidos)'  %>
    <%= f.input :website, placeholder: 'www.domain.com' %>
    <%= f.input :facebook, placeholder: 'facebook/account'  %>
    <%= f.input :instagram, placeholder: 'instagram/account' %>
    <%= f.input :soundcloud, placeholder: 'soundcloud/account'%>
    <%= f.input :spotify, placeholder: 'spotify/IDofYourAccount' %>
    <%= f.input :youtube , placeholder: 'youtube/account'%>
    <%= f.input :yt_video_destak, placeholder: 'Best/Last Youtube video destak' %>
    <%= f.input :destak_discr, placeholder: 'Description of your video Destak caractere 256', input_html: { maxlength: 256 } %>
    <%= f.input :yt_video_one, placeholder: 'link youtube video live 1'%>
    <%= f.input :yt_video_two, placeholder: 'link youtube video live 2' %>
    <%= f.input :yt_video_three, placeholder: 'link youtube video live 3' %>
    <%= f.input :photo, as: :file %>


    <p><%= f.submit "Create My Band Profile", class: "btn btn-primary" %></p>
  <% end %>
</div>
