
<div class="container">
    <div id="image" class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path @band.photo.key, :effect=>"art:zorro", crop: :fill %>'" >
        <h1><%= @band.name %> </h1>
        <p><%= @band.headline %></p>
         <%= link_to "Book Now", new_band_offer_path(@band) , :class => "btn btn-flat" %>
    </div>
    <%= render 'shared/search' %>
</div>


<div class="container">
  <div class="main-container">
  <div class="links">
      <ul>
        <li class="list-inline-item"><%= link_to "", @band.instagram , :class => "fab fa-instagram", :target => '_blank'  %> </li>
        <li class="list-inline-item"><%= link_to "", "https://open.spotify.com/artist/#{@band.spotify}" , :class => "fab fa-spotify", :target => '_blank' %> </li>
        <li class="list-inline-item"><%= link_to "", @band.youtube , :class => "fab fa-youtube", :target => '_blank' %> </li>
        <li class="list-inline-item"><%= link_to "", @band.facebook , :class => "fab fa-facebook", :target => '_blank' %> </li>
      </ul>
    </div>

    <div class="youtubevideo">
        <%= get_video_iframe(@band.youtube)%>
        <h2> <%= @band.destak_discr %> </h2>
    </div>

    <div class="release text-justify">
        <h1><%= @band.name %></h1>
          <p><%= markdown(@band.release)%></p>
    </div>
    <br><br>

    <div class="spotify_player">
      <iframe src="https://open.spotify.com/embed/artist/<%= @band.spotify %>" width="300" height="380" frameborder="0"></iframe>
    </div>

    <div class="site">
      <%= link_to "site web", @band.website , :class => "btn btn-site", :target => '_blank' %> </li>
     <%= link_to "Book Now", @band.website , :class => "btn btn-flat", :target => '_blank' %> </li>
    </div>

     <div class="dates">
            <%  @band.gigs.each do |gig| %>
         <%= link_to band_gig_path(@band), remote: true do %>

          <div class="card-date">
            <h3> <%= gig.date.strftime("%d/%m/%Y") %></h3>
            <h4> <%= gig.local.upcase %></h4>
            <p> <%= gig.address%>  - <%= gig.state %> </p>
          </div>
       <% end %>
    <% end %>
  </div>

    <!--  <div class="material">
       <h3>MATERIAL :: Only if logged</h3>
        <%= link_to "team members", @band.website , :class => "btn btn-flat", :target => '_blank'  %>
        <%= link_to "technical rider", @band.website , :class => "btn btn-flat", :target => '_blank'  %>
        <%= link_to " Mapa do Palco ", @band.website , :class => "btn btn-flat", :target => '_blank'  %>
        <%= link_to " Fotos - HD ", @band.website , :class => "btn btn-flat", :target => '_blank'  %>
        <%= link_to " Clipping ", @band.website , :class => "btn btn-flat", :target => '_blank'  %>
      </div> -->

      <div class="youtube-one">
        <%= get_video_iframe(@band.yt_video_one, width = "280px", height = "167px") %>
      </div>

      <div class="youtube-two">
        <%= get_video_iframe(@band.yt_video_two, width = "280px", height = "167px") %>
      </div>

      <div class="youtube-three">
        <%= get_video_iframe(@band.yt_video_three, width = "280px", height = "167px")%>
      </div>
    </div>
<<<<<<< HEAD
=======
</div>
  <div class="modal fade" id="gigModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">

      <%= render 'shared/modal_gigs' %>

    </div>
  </div>
>>>>>>> 74e6790a7b2bca9b7b9ae9bd5770a33b3b920338

</div>
<div class="modal fade" id="gigModal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" >Modal Gig Infos</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        INPUT
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary btn-block" data-dismiss="modal">Fechar</button>
      </div>
    </div>
  </div>
</div>
