
<div class="container">
    <div id="image" class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path @band.photo.key, :effect=>"art:zorro", crop: :fill %>'" >
        <h1 class="text-uppercase" ><%= @band.name %> </h1>
        <p  ><%= @band.headline %></p>
         <%= link_to "Book Now", new_band_offer_path(@band) , :class => "btn btn-flat" %>
    </div>
    <%= render 'shared/search' %>

</div>
<div class="container">
   <section class="menu-band container bg-light sticky-top links border-bottom mb-3">

  <div class="row mt-1">
      <h1 class="col-sm-4 p-1 d-flex justify-content-center"><%= @band.name %> </h1>

        <ul class="col-sm-4 p-1 d-flex justify-content-around">
          <li class="list-inline-item"><%= link_to "", @band.instagram , :class => "fab fa-instagram", :target => '_blank'  %> </li>
          <li class="list-inline-item"><%= link_to "", "https://open.spotify.com/artist/#{@band.spotify}" , :class => "fab fa-spotify", :target => '_blank' %> </li>
          <li class="list-inline-item"><%= link_to "", @band.youtube , :class => "fab fa-youtube", :target => '_blank' %> </li>
          <li class="list-inline-item"><%= link_to "", @band.facebook , :class => "fab fa-facebook", :target => '_blank' %> </li>
        </ul>


        <div class="col-sm-4 ">
          <div class="d-flex justify-content-around mb-3">
           <div class="btn-group" role="group"></div>
    <!-- <div class=" "> -->
      <%= link_to "site web", @band.website , :class => "btn btn-outline-success", :target => '_blank' %>
    <!-- </div> -->
    <!-- <div class="col-sm-2 p-3"> -->
            <a class="btn btn-outline-success" href="mailto:joa.azria@gmail.com">book now</a>
    <!-- </div> -->
    </div>
  </div>
        </div>

</section>

<section class="p-5 bg-light">
  <div class="row">
    <div class="col-lg-8 col-md-12">
    <div class="embed-responsive embed-responsive-16by9 min-vw">
        <iframe class="embed-responsive-item" src="<%=@band.yt_video_one%>" title="YouTube video" allowfullscreen></iframe>
</div>
  <h2 class="mb-3 mt-3 text-uppercase"> <%= @band.destak_discr %> </h2>
    </div>
    <div class="col-lg-4 col-md-12">
      <iframe src="https://open.spotify.com/embed/artist/<%= @band.spotify %>" style="border: 0; width: 100%; height: 380px;" allowfullscreen allow="encrypted-media"></iframe>
    </div>

    <!-- <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/UAiOKEZsb9A" title="YouTube video" allowfullscreen></iframe> -->
</div>
  </div>

</section>
<div class="container">
  <section class="text-justify container bg-light border-top mt-5">
     <div class="container">
         <h2 class="mt-3 text-uppercase" >RELEASE</h2>
         <div class="text-justify">
          <p class="lead"><%= markdown(@band.release)%></p>
     </div>
   </div>
   </div>
</section>

<div class="container mb-3">
<section class="p-3 container bg-light  ">
  <div class="container ">
  <h1>+ VIDEOS</h1>
<div class="row d-flex justify-content-around">

  <div class="col-lg-5 m-1">
    <div class="embed-responsive embed-responsive-16by9">
      <iframe class="embed-responsive-item" src="<%=@band.yt_video_two%>" title="YouTube video" allowfullscreen></iframe>
    </div>
  </div>
    <div class="col-lg-5 m-1">
      <div class="embed-responsive embed-responsive-16by9">
        <iframe class="embed-responsive-item" src="<%=@band.yt_video_three%>" title="YouTube video" allowfullscreen></iframe>
      </div>
    </div>
  </div>
  </div>
</section>
</div>
</div>

